.counter {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.count {
    padding: 20px;
}

.botao {
    width: 50px;
    height: 50px;
    border: none;
    color: white;
    font-size: 25px;
    text-align: center;
    background-color: rgb(74, 74, 255);
}
